flows.json
[{"id":"2db333a5.3f681c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a21544cd2d7b379","type":"tcp in","z":"2db333a5.3f681c","name":"","server":"client","host":"192.168.18.90","port":"50011","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":210,"y":540,"wires":[["f612d10e11578cce"]]},{"id":"f612d10e11578cce","type":"function","z":"2db333a5.3f681c","name":"","func":"const Data = msg.payload; //Definiere den payload (output) auf eine Variable, welche konstant ist\n\n// Konvertiere es zu einem Array\nconst DataArray = Data.split(\"start\").filter(Boolean).toLowerCase();\n\n// Wenn ein Fehler (beim Sensor gibt er \"fail\" aus) vorkommt\nif(DataArray[1].includes(\"fail\")){\n    // Ändere die \"OUPUT\" Nachricht um, indem die Data, der Output und die ganzen anderen pre-deklarierten Variablen vorkommen.\n    msg = {\n        Data:{ topic: \"Data\", payload: Data},\n        Output:{ topic: \"Fail\", payload: \"Fail\"},\n        Probability: { topic: \"Probability\", payload: 0}, //0 da ein fehler ist und im dashboard 0 soll stehen\n        Models: { topic: \"Models\", payload: 0}, //0 da ein fehler ist und im dashboard 0 soll stehen\n        Objects: { topic: \"Objects\", payload: 0}, //0 da ein fehler ist und im dashboard 0 soll stehen\n        CordX: { topic: \"CordX\", payload: 0}, //0 da ein fehler ist und im dashboard 0 soll stehen\n        CordY: { topic: \"CordY\", payload: 0}, //0 da ein fehler ist und im dashboard 0 soll stehen\n        Degree: { topic: \"Degree\", payload: 0} //0 da ein fehler ist und im dashboard 0 soll stehen\n    };\n   }\nelse {\n    const Success = DataArray[1].slice(4).replace(\"stop\", \"\").split(\"#\").filter(Boolean).map(d => Number(d));\n    const [ Probability, Models, Objects, CordX, CordY, Degree ] = Success;\n    msg = {\n        Data: { topic: \"Data\", payload: Data},\n        Output: { topic: \"Success\", payload: \"Success\"},\n        Probability: { topic: \"Probability\", payload: Probability},\n        Models: { topic: \"Models\", payload: Models},\n        Objects: { topic: \"Objects\", payload: Objects},\n        CordX: { topic: \"CordX\", payload: CordX},\n        CordY: { topic: \"CordY\", payload: CordY},\n        Degree: { topic: \"Degree\", payload: Degree}\n    };\n}\nreturn [msg.Output, msg.Probability, msg.Model, msg.Objects, msg.CordX, msg.CordY, msg.Degree];\n// (c) Pregler https://tomato6966.xyz/MIT","outputs":7,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":680,"wires":[["78279a67fbb4e2d7"],["ca727a668b11efc5"],[],[],["cbb55a20bb47fa33"],["b01bfcca1c0afa47"],["c1f590a0430896d7"]]},{"id":"ca727a668b11efc5","type":"ui_gauge","z":"2db333a5.3f681c","name":"Probability","group":"de89b327.569e","order":0,"width":0,"height":0,"gtype":"gage","title":"Probability","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00ff40"],"seg1":"60","seg2":"80","x":920,"y":680,"wires":[]},{"id":"78279a67fbb4e2d7","type":"ui_text","z":"2db333a5.3f681c","group":"de89b327.569e","order":1,"width":0,"height":0,"name":"","label":"Erkannt: ","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":640,"wires":[]},{"id":"cbb55a20bb47fa33","type":"ui_text","z":"2db333a5.3f681c","group":"de89b327.569e","order":2,"width":"0","height":"0","name":"CordX","label":"CordX","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":720,"wires":[]},{"id":"b01bfcca1c0afa47","type":"ui_text","z":"2db333a5.3f681c","group":"de89b327.569e","order":3,"width":"0","height":"0","name":"CordY","label":"CordY","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":760,"wires":[]},{"id":"c1f590a0430896d7","type":"ui_text","z":"2db333a5.3f681c","group":"de89b327.569e","order":3,"width":0,"height":0,"name":"Degree","label":"Degree","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":820,"wires":[]},{"id":"de89b327.569e","type":"ui_group","name":"Standard","tab":"231de43f.ebaacc","order":1,"disp":true,"width":"6","collapse":false},{"id":"231de43f.ebaacc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]